body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 0px 24px 0px 24px auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
}

header {
  grid-column: span 6; 
  margin: 24px 0px 24px 24px;
  font-family: 'Rubik', sans-serif;
  background-color: black;
}

header a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 24px 24px 24px 24px;
  font-size: larger;
  transition: color 0.5s;
}

header a:hover {
  background: linear-gradient(
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
        color: white;
}

.header1 {
  margin-bottom: 48px;
}

.header1 a{
  padding: 21.5px 70px 24px 70px;
}

.header2 {
  margin-left: 302px;
}

.header2 a{
  padding: 24px 70px 21.5px 56px;
}

 #navgrid {
  display: grid;
  grid-column: span 6;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(2 93px);
}

nav {
  grid-column: span 6;
  margin: 24px 24px 24px 0px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 0px;
}

nav a {
  display: block;
  color: black;
  text-decoration: none;
  background-color: white;
  transition: color 0.5s;
}

nav a:hover {
  background: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%);
color: white;
}

.podcasting {
  margin: 0px;
}

.podcasting a {
  padding: 32.5px 31.5px 30px 31.5px;
}

.music {
  align-self: flex-end;
  margin: 0px;
}

.music a {
  padding: 30px 58px 32.5px 56px;
}

.sound {
  margin: 0px;
}

.sound a {
  /*padding: 32.5px 8px 30px 8px;*/
  padding: 17.5px 51.5px 17px 51.5px ;
}

main {
  grid-column: span 6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  margin: 0px 36px 0px 36px;
}

h2 {
  text-align: center;
  border-bottom: black 3px solid;
  padding-bottom: 6px;
  font-family: 'Rubik', sans-serif;
  font-size: 61px;
  letter-spacing: 3px;
  transition: letter-spacing .5s, text-shadow 0.5s;
}

h2:hover {
  letter-spacing: 8px;
  text-shadow: 2px 2px 2px gray; 
}

.soundmain {
  grid-column: span 12;
}

aside {
  grid-column: span 6;
  margin: 20px 0px 20px 80px;
}

.playlist {
  margin: 24px 24px 24px 24px;
}

.embed {
  border: solid black 3px;
}

img {
  width: 464px;
  border: solid black 3px;
}

footer {
  background-color: black;
  grid-column: span 12;
  padding: 12px 0px 12px 48px;
}

 footer a {
  font-family: 'Work Sans', sans-serif;
  color: white;
  text-decoration: none;
  transition: letter-spacing 60s;
}

footer a:hover {
  letter-spacing: 200px;
}

